body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 50px;
}
h2{
    text-align: left;
    margin-left: 20px;
}

button{
    background-color: lightgray;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    background-color: darkgray;
    scale: 1.1;
}

.clickable {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25vh;
    gap: 2rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-left: 10vh;
    margin-top: 50px;
}
.list_header {
    font-size: 1.175rem;
    font-weight: bold;
}